{
  "extends": ["stylelint-config-recommended-scss"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "selector-class-pattern": [
      "^(?!\\d)[a-zA-Z0-9_-]*(?:__[a-zA-Z0-9_-]+)*(?:--[a-zA-Z0-9_-]+)*$",
      {
        "message": "Class names should adhere to the BEM convention."
      }
    ],
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "string-quotes": "double"
  }
}
