.Header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  &__logo {
    height: 40vmin;
    pointer-events: none;
  }

  &__link {
    color: #61dafb;
  }

  @media (prefers-reduced-motion: no-preference) {
    &__logo {
      animation: Header-logo-spin infinite 20s linear;
    }
  }
}

@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
